<div class="card text-white mb-3" [style.background-color]="category.color" [ngClass]="{'card-done': task.done}">
    <div class="card-body">
        <h5 class="card-title" placement="top" [ngbTooltip]="category.name">
            <fa-icon [icon]="['fas', category.icon]"></fa-icon>
            {{ task.title }}
        </h5>
        <quill-view-html *ngIf="task.content" class="card-text" [content]="task.content"></quill-view-html>
    </div>
    <div class="card-footer d-flex justify-content-end">
        <fa-icon [icon]="editIcon" (click)="editTask(task)" placement="top" [ngbTooltip]="'APP.COMMON.EDIT' | translate"></fa-icon>&nbsp;
        <fa-icon *ngIf="task.done" [icon]="cancelIcon" (click)="cancelTask(task)" placement="top"
                 [ngbTooltip]="'APP.TASK.CANCEL' | translate"></fa-icon>
        <fa-icon *ngIf="!task.done" [icon]="completeIcon" (click)="completeTask(task)" placement="top"
                 [ngbTooltip]="'APP.TASK.COMPLETE' | translate"></fa-icon>
    </div>
</div>