div.card-done {
  filter: saturate(35%)
}

div.card {

  div.card-body {
    padding: 15px;
  }

  div.card-footer {
    padding: 5px 8px 2px 0;

    fa-icon {
      cursor: pointer;
    }
  }
}

::ng-deep div.ql-editor {
  padding: 5px;

  a {
    color: white;
  }
}
