<app-task-list-actions [completedTaskCount]="completedTaskCount" [displayedTaskCount]="displayedTaskCount" [categories]="categories"
                       (onToggleCompletedTasks)="toggleCompletedTaskVisibility($event)" (onOpenCategoryModal)="openCategoryModal()"
                       [taskCount]="taskCount"></app-task-list-actions>
<hr/>

<div class="container">
    <app-no-category-info [categories]="categories" (onOpenCategoryModal)="openCategoryModal()"></app-no-category-info>
    <app-no-task-info [categories]="categories" [displayedTaskCount]="displayedTaskCount"></app-no-task-info>
</div>

<div class="row flex-row flex-nowrap" *ngIf="tasks">
    <div class="col-3" *ngFor="let category of categories | async">
        <app-task-display *ngFor="let task of tasks[category._id] | taskOrder:hideCompletedTasks"
                          [category]="category" [task]="task" (onTaskCanceled)="cancelTask($event)"
                          (onTaskComplete)="completeTask($event)"
                          (onTaskEdited)="editTask($event)"></app-task-display>
    </div>
</div>