<app-task-list-actions [completedTaskCount]="completedTaskCount" [displayedTaskCount]="displayedTaskCount" [categories]="categories"
                       (onToggleCompletedTasks)="toggleCompletedTaskVisibility($event)" (onOpenCategoryModal)="openCategoryModal()"
                       [taskCount]="taskCount"></app-task-list-actions>
<hr/>

<div class="container">
    <app-no-category-info [categories]="categories" (onOpenCategoryModal)="openCategoryModal()"></app-no-category-info>
    <app-no-task-info [categories]="categories" [displayedTaskCount]="displayedTaskCount"></app-no-task-info>
</div>

<div class="row flex-row flex-nowrap" *ngIf="tasks">
    <ng-container *ngFor="let category of categories | async">
        <div class="col-lg-2 col-md-3 col-sm-4" *ngIf="(tasks[category._id] | taskOrder:hideCompletedTasks).length > 0">
            <app-task-display *ngFor="let task of tasks[category._id] | taskOrder:hideCompletedTasks"
                              [category]="category" [task]="task" (onTaskCanceled)="cancelTask($event)"
                              (onTaskComplete)="completeTask($event)"
                              (onTaskEdited)="editTask($event)"></app-task-display>
        </div>
    </ng-container>
</div>