<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Delete task</h4>
    <button (click)="activeModal.dismiss(false)" aria-label="Close" class="close" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p>{{ 'APP.TASK.DELETECONFIRM' | translate}} <strong>{{ taskName }}</strong> ?</p>
</div>
<div class="modal-footer">
    <button (click)="activeModal.dismiss(false)" class="btn btn-secondary" type="button">{{ 'APP.COMMON.CANCEL' | translate}}</button>
    <button (click)="activeModal.close(true)" class="btn btn-danger" type="button">{{ 'APP.COMMON.DELETE' | translate}}</button>
</div>
