<div class="container">
    <div class="d-flex justify-content-between align-items-center">
        <h2>{{ 'APP.CATEGORY.TITLE' | translate }}</h2>
        <a routerLink="/categories/add">
            <button class="btn btn-primary">
                <fa-icon [icon]="addIcon"></fa-icon>
                {{ 'APP.CATEGORY.ADD' | translate }}
            </button>
        </a>
    </div>
    <hr/>

    <div *ngIf="(categories | async)?.length == 0" class="alert alert-info">
        <div class="d-flex justify-content-between">
            <div class="d-flex align-items-center">
                <fa-icon [icon]="infoIcon" size="2x"></fa-icon>&nbsp;
                {{ 'APP.CATEGORY.NOCATEGORY' | translate }}
            </div>
        </div>
    </div>

    <table class="table table-striped">
        <tbody>
        <tr *ngFor="let category of categories | async" class="category-row">
            <td>
                <span [style.background-color]="category.color" class="dot"></span>
            </td>
            <td>
                {{ category.name }}
            </td>
            <td>
                <fa-icon [icon]="['fas', category.icon]" size="2x"></fa-icon>
            </td>
            <td class="d-flex justify-content-end">
                <button type="button" class="btn btn-secondary btn-sm" (click)="editCategory(category._id)">
                    <fa-icon [icon]="editIcon"></fa-icon>
                    {{ 'APP.COMMON.EDIT' | translate }}
                </button>&nbsp;
                <button (click)="removeCategory(category)" class="btn btn-danger btn-sm" type="button">
                    <fa-icon [icon]="deleteIcon"></fa-icon>
                    {{ 'APP.COMMON.DELETE' | translate }}
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>