<h2>Categories</h2>

<a routerLink="/categories/add">
    <button class="btn btn-primary">
        <fa-icon [icon]="addIcon"></fa-icon>
        Add
    </button>
</a>
<hr />

<table class="table table-striped">
    <tbody>
    <tr *ngFor="let category of categories | async; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>
            {{ category.name }}
        </td>
        <td> <fa-icon [icon]="['fas', category.icon]" size="2x"></fa-icon></td>
        <td [bgColor]="category.color" [style.width]="'100px'"></td>
        <td>
            <button type="button" class="btn btn-secondary btn-sm" (click)="editCategory(category._id)">
                <fa-icon [icon]="editIcon"></fa-icon> Edit
            </button>&nbsp;
            <button type="button" class="btn btn-danger btn-sm" (click)="removeCategory(category._id)">
                <fa-icon [icon]="deleteIcon"></fa-icon> Delete
            </button>
        </td>
    </tr>
    </tbody>
</table>