<form [formGroup]="categoryForm">
    <div class="d-flex justify-content-between align-items-center">
        <h2 *ngIf="!categoryId">Create a new category</h2>
        <h2 *ngIf="categoryId">Edit category : {{categoryForm.get(['name']).value}}</h2>
        <button (click)="goBackToList()" class="btn btn-secondary">
            <fa-icon [icon]="backIcon"></fa-icon>
            Back to the list
        </button>
    </div>
    <fieldset>
        <div class="form-group">
            <label for="category-name">Name</label>
            <input [ngClass]="{'is-invalid' : categoryForm.get(['name']).dirty && categoryForm.get(['name']).invalid,
                   'is-valid': categoryForm.get(['name']).dirty && categoryForm.get(['name']).valid}"
                   class="form-control" formControlName="name" id="category-name"
                   autocomplete="off" type="text">
        </div>
        <div class="form-group">
            <label for="category-icon">Icon</label>&nbsp;
            <button id="category-icon"  type="button" class="btn btn-outline-dark mr-2 mb-2" (click)="openIconPicker(content)"
                    placement="right" [ngbTooltip]="categoryForm.get(['icon']).value">
                <fa-icon [icon]="categoryForm.get(['icon']).value" size="2x"></fa-icon>
            </button>
        </div>
        <div class="form-group">
            <label for="category-color">Color</label>
            <color-circle (onChangeComplete)="setColor($event)" [color]="categoryForm.get(['color']).value"
                          id="category-color"></color-circle>
        </div>
        <button (click)="saveCategory()" [disabled]="categoryForm.invalid"
                [ngClass]="{'disabled': categoryForm.invalid}" class="btn btn-primary" type="submit">
            <fa-icon [icon]="saveIcon"></fa-icon>
            Save
        </button>
    </fieldset>
</form>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Pick an icon...</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <icon-picker (iconPicked)="setIcon($event)"></icon-picker>
    </div>
    <div class="modal-footer">
        <p>Click on an icon to pick it</p>
    </div>
</ng-template>