<div *ngIf="(categories | async)?.length == 0" class="alert alert-info">
    <div class="d-flex justify-content-between">
        <div class="d-flex align-items-center">
            <fa-icon [icon]="infoIcon" size="2x"></fa-icon>&nbsp;
            {{ 'APP.CATEGORY.NOCATEGORY' | translate}}
        </div>
        <button class="btn btn-primary" (click)="openCategoryModal()">
            <fa-icon [icon]="addIcon"></fa-icon>&nbsp;
            {{ 'APP.CATEGORY.ADD' | translate}}
        </button>
    </div>
</div>